#top-image{
	height: 160px;
	width: 100%;
	background-image: url(./images/desktop/bg-pattern-header.svg);
	border: #F2F2F2 solid 1px;

}

#devjobs{
	width: 115px;
	height: 32px;
	text-align: center;
	font-size: 25px;
	margin-left: 95px;
	margin-top: 46px;
	color: white;
	font-family: sans-serif;


}
#slider{
	width: 112px;
	height: 24px;
	margin-left: 85%;
	margin-top: -35px;
	display: flex;
	justify-content: space-between;
}
#rectangle{
	width: 48px;
	height: 24px;
	display: flex;
	border-radius: 12px;
	background-color: white;
	
}

#oval{
	width: 14px;
	height: 14px;
	margin-left: 4px;
	background: #5964E0;
	margin-top: 5px;
	border-radius: 50px;
}

#oval:hover{
	background-color:#939BF4;
}

#moon{
	width: 12px;
	height: 12px;
	margin-top: 4px;
}
#sun{
	width: 20px;
	height: 18px;
	margin-top: 1.4px;
}

#block1{
	height: 140px;
	width: 60%;
	margin-left: 20%;
	display: flex;
	margin-top: -30px;
	
}

#logo-block{
	width: 18%;
	background-color: #E99210;
}

#company-info{
	display: flex;
	width: 82%;
	background-color: white;
}

#info{
	margin-left: 40px;
	
}

#site_button{
	width: 147px;
	height: 48px;
	margin-left: 320px;
	margin-top: 46px;
	color: #5964E0;
	background-color: #F4F6F8;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#site_button:hover{
	background-color: #ccccff;
}
#logo{
	margin-left: 20%;
	margin-top: 38%;
	width: 81px;
	height: 23px;
}
#text{
	width: 65px;
	height: 24px;
	font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #19202D;
}
#email{
	color: #6E8098;
	font-family: sans-serif;
}

body{
	background-color: #F2F2F2;
}

#main{
	margin-top: 32px;
	width: 60%;
	margin-left: 20%;
	background-color: white;
	border-radius: 6px;
	padding-bottom: 20px;
}

#job-block{
	display: flex;
	margin-top: 48px;
	height: 87px;

}

#apply-button{
	width: 141px;
	height: 48px;
	margin-left:220px;
	margin-top: 40px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button:hover{
	background-color: #939BF4;

}

#position{
	margin-top: 8px;
	font-family: sans-serif;
	font-style: normal;
    color: #19202D
}

#location{
	margin-top: -8px;
	height: 14px;
	color: #5964E0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
}

#time,#contract{
	color: #6E8098;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#description{
	margin-top: 60px;
	margin-left: 48px;
	margin-right: 43px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#job-info{
	margin-left: 47px;
	margin-top: 20px;
}

#requirements{
	margin-left: 48px;
	margin-right: 43px;
	margin-top: 40px;

}

#content{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#items{
	margin-left: 5px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

ul {
  list-style: none;
  line-height: 200%;
}

ul li::before {
  content: "\2022";
  color: #5964E0;
  font-weight: bold;
  display: inline-block; 
  width: 3em;
  margin-left: -3em;
}

#heading{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #19202D;
}

ol{
	line-height: 200%;
	list-style: none;
	counter-reset: li
}

ol li::before {content: counter(li); color: #5964E0;
  display: inline-block; width: 3em;
  margin-left: -3em;counter-increment: li}

footer{
	height: 96px;
	margin-top: 80px;
	display: flex;
	background-color: white;
}

#apply-button2{
	width: 141px;
	height: 48px;
	margin-left:348px;
	margin-top: 20px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button2:hover{
	background-color:#939BF4 ;
}

#signature{
	margin-left: 20%;
}

#sign{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#post{
	font-family: sans-serif;
	font-style: normal;
    color: #19202D
}




@media screen and (max-width:810px) and (min-width: 700px){

#top-image{
height: 160px;
width: 100%;
background-image: url(./images/desktop/bg-pattern-header.svg);
border: #F2F2F2 solid 1px;

}

#devjobs{
	width: 115px;
	height: 32px;
	text-align: center;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 46px;
	color: white;
	font-family: sans-serif;


}
#slider{
	width: 112px;
	height: 24px;
	margin-left: 82%;
	margin-top: -35px;
	display: flex;
	justify-content: space-between;
}
#rectangle{
	width: 48px;
	height: 24px;
	display: flex;
	border-radius: 12px;
	background-color: white;
	
}

#oval{
	width: 14px;
	height: 14px;
	margin-left: 4px;
	background: #5964E0;
	margin-top: 5px;
	border-radius: 50px;
}

#oval:hover{
	background-color:#939BF4;
}

#moon{
	width: 12px;
	height: 12px;
	margin-top: 4px;
}
#sun{
	width: 20px;
	height: 18px;
	margin-top: 1.4px;
}

#block1{
	height: 140px;
	width: 92%;
	margin-left: 4%;
	display: flex;
	margin-top: -40px;
	
}

#logo-block{
	width: 18%;
	background-color: #E99210;
}

#company-info{
	display: flex;
	width: 82%;
	background-color: white;
}

#info{
	margin-left: 40px;
	margin-top: 12px;
	
}

#site_button{
	width: 147px;
	height: 48px;
	margin-left: 310px;
	margin-top: 46px;
	color: #5964E0;
	background-color: #F4F6F8;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#site_button:hover{
	background-color: #ccccff;
}
#logo{
	margin-left: 20%;
	margin-top: 38%;
	width: 81px;
	height: 23px;
}
#text{
	width: 65px;
	height: 24px;
	font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #19202D;
}
#email{
	color: #6E8098;
	font-family: sans-serif;
}

body{
	background-color: #F2F2F2;
}

#main{
	margin-top: 32px;
	width: 92%;
	margin-left: 4%;
	background-color: white;
	border-radius: 6px;
	padding-bottom: 20px;
}

#job-block{
	display: flex;
	margin-top: 48px;
	height: 87px;

}

#apply-button{
	width: 141px;
	height: 48px;
	margin-left:220px;
	margin-top: 40px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button:hover{
	background-color: #939BF4;

}

#position{
	margin-top: 8px;
	font-family: sans-serif;
	font-style: normal;
    color: #19202D
}

#location{
	margin-top: -8px;
	height: 14px;
	color: #5964E0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
}

#time,#contract{
	color: #6E8098;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#description{
	margin-top: 60px;
	margin-left: 48px;
	margin-right: 43px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#job-info{
	margin-left: 47px;
	margin-top: 20px;
}

#requirements{
	margin-left: 48px;
	margin-right: 43px;
	margin-top: 40px;

}

#content{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#items{
	margin-left: 5px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

ul {
  list-style: none;
  line-height: 200%;
}

ul li::before {
  content: "\2022";
  color: #5964E0;
  font-weight: bold;
  display: inline-block; 
  width: 3em;
  margin-left: -3em;
}

#heading{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #19202D;
}

ol{
	line-height: 200%;
	list-style: none;
	counter-reset: li
}

ol li::before {content: counter(li); color: #5964E0;
  display: inline-block; width: 3em;
  margin-left: -3em;counter-increment: li}

footer{
	height: 96px;
	margin-top: 80px;
	display: flex;
	background-color: white;
}

#apply-button2{
	width: 141px;
	height: 48px;
	margin-left:344px;
	margin-top: 20px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button2:hover{
	background-color:#939BF4 ;
}

#signature{
	margin-left: 4%;
}

#sign{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#post{
	font-family: sans-serif;
	font-style: normal;
    color: #19202D;
    font-size: 20px;
}
}


@media (max-width: 430px){

#top-image{
height: 160px;
width: 100%;
background-image: url(./images/mobile/bg-pattern-header.svg);
border: #F2F2F2 solid 1px;
}

#devjobs{
	width: 115px;
	height: 32px;
	text-align: center;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 30px;
	color: white;
	font-family: sans-serif;
	font-weight: 700;


}
#slider{
	width: 112px;
	height: 24px;
	margin-left: 62%;
	margin-top: -25px;
	display: flex;
	justify-content: space-between;
}
#rectangle{
	width: 48px;
	height: 24px;
	display: flex;
	border-radius: 12px;
	background-color: white;
	
}

#oval{
	width: 14px;
	height: 14px;
	margin-left: 4px;
	background: #5964E0;
	margin-top: 5px;
	border-radius: 50px;
}

#oval:hover{
	background-color:#939BF4;
}

#moon{
	width: 12px;
	height: 12px;
	margin-top: 4px;
}
#sun{
	width: 20px;
	height: 18px;
	margin-top: 1.4px;
}

#block1{
	width: 90%;
	margin-left: 5%;
	border-radius: 6px;
	margin-top: -25px;
	background-color: white;
	height: 200px;
}

#logo-block{
	width: 50px;
	height: 50px;
	background-color: #E99210;
	margin-left: 40%;
	border-radius: 15px;
	margin-top: -27px;
}

#company-info{
	width: 82%;
	margin-left: -155px;
	margin-top: 25px;
}

#info{
	margin-left: 35%;
}

#site_button{
	width: 60%;
	height: 48px;
	margin-left: -40%;
	margin-top: 100px;
	color: #5964E0;
	background-color: #F4F6F8;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 32px;
    
}

#site_button:hover{
	background-color: #ccccff;
}
#logo{
	margin-left: 8%;
	margin-top: 38%;
	width: 40px;
	height: 11px;

}
#text{
	width: 65px;
	height: 24px;
	font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #19202D;
}

#email{
	color: #6E8098;
	font-family: sans-serif;
}

body{
	background-color: #F2F2F2;
}

#main{
	margin-top: 23px;
	width: 90%;
	margin-left: 5%;
	background-color: white;
	border-radius: 6px;
	padding-bottom: 20px;
  
}

#job-block{
	display: flex;
	flex-direction: column;
	margin-top: 1px;
	height: 200px;
}

#apply-button{
	width: 85%;
	height: 48px;
	margin-left:25px;
	margin-top: 30px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button:hover{
	background-color: #939BF4;

}

#position{
	margin-top: 8px;
	font-family: sans-serif;
	font-style: normal;
  color: #19202D;
  font-size: 20px;
}

#location{
	margin-top: -8px;
	height: 14px;
	color: #5964E0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
}

#time,#contract{
	color: #6E8098;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#description{
	margin-top: 22px;
	margin-left: 25px;
	margin-right: 25px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#job-info{
	margin-left: 25px;
	margin-top: 25px;
}

#requirements{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 40px;

}

#content{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

#items{
	margin-left: 5px;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

ul {
  list-style: none;
  line-height: 200%;
}

ul li::before {
  content: "\2022";
  color: #5964E0;
  font-weight: bold;
  display: inline-block; 
  width: 3em;
  margin-left: -3em;
}

#heading{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #19202D;
}

ol{
	line-height: 200%;
	list-style: none;
	counter-reset: li
}

ol li::before {content: counter(li); color: #5964E0;
  display: inline-block; width: 3em;
  margin-left: -3em;counter-increment: li}

footer{
	height: 100px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: red solid 2px;
}

#apply-button2{
	width: 90%;
	height: 48px;
	margin-left:5%;
	margin-top: 20px;
	color: white;
	background-color: #5964E0;
	border-radius: 5px;
	border: 0;
	font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

#apply-button2:hover{
	background-color:#939BF4 ;
}

#signature{
	margin-left: 2%;
	width: 1px;
	height: 1px;
}

#sign{
	font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 26px;
    color: white;
}

#post{
	font-family: sans-serif;
	font-style: normal;
  color: white;
  font-size: 0px;
}



}




